.about{
    width: 100%;
}

.carousel{
    width: 100%;
    height: 90vh;
   text-align: center;
    margin: 0px auto 100px auto;
    position: relative;
    overflow: visible;
}

.slide, .slick-slide{
    width: 100%;
    height: 90vh;
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
}

.slick-arrow{
    position: absolute;
    top: 45%;
    z-index: 99;
    /* background-color: #ffffff52; */
    line-height: 0%;
    padding: 5px 0;
}
.slick-next{
    right: 10px;
}
.slick-prev{
    left: 10px;
}


.slick-dots{
    position: absolute;
    bottom: 0px;
    margin: auto;
    left: 48%;
}

.slick-dots ul{
    list-style: none;
    gap: 8px;
    display: flex;
}

.slick-dots li {
    cursor: pointer;

}

li.slick-active > div{
    background-color: rgb(250, 3, 85) !important;
}

.slick-dots li:hover{
    background-color: rgb(247, 90, 137) !important;
    border-radius: 50%;
}

.arrow-img-next, .arrow-img-prev{
    height: 50px;
    cursor: pointer;
}

.arrow-img-prev{
    transform: rotate(180deg);
}