@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montez&family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  /* font-family: 'Great Vibes', cursive; */
  /* font-family: 'Montez', cursive; */
  font-family: 'Prompt', sans-serif;
}

body{
  background-color: white;
}

.none{
  display: none;
}

.block{
  display: block;
}